<html>
    <head><%- include('../partial/_bootstrap.ejs')%>
        <style>
            a{
              
              width:100px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
                border-radius: 20px;
              border: 2px solid #9249af;
               padding:20px;
            }
            a:hover{
              background: linear-gradient(135deg, #5baee6, #9249af);
              color: white;
            }
            li{
              margin:20px;
              padding:10px;
             
            } 
            right{
              margin-left: 100%;
              padding:400px;
            }
            
            
             
           </style>
           
    </head>
    <body><%- include('../partial/_navigation.admin.ejs')%></body>
</html>