<html>
    <head>
        <link rel="stylesheet" href="style.css" 
    </head>
    <body>
        <div class="cantainer">
            <table class="table">
                <thead><tr><th>Sno.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>OrderList</th>
                    <th>Comment box</th>

                    <th>
                        <a href="/edit">
                        <button class="btn btn-primary">Edit</button>
                    </a>
                    </th>
                    <th>  <a href="/delete">
                        <button class="btn btn-primary">delete</button>
                    </a></th>
            </table>
        </div>
       
    </body>
</html>